.browse-container {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 1300px;
    align-items: center;

    background-color: hsla(195, 100%, 55%, 0.963);
    border-radius: 20px;
    padding: 25px;
    max-width: 100%;
}

.sorting-container {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    background-color: #c8d8dcfe;
    border-radius: 20px;
    padding: 25px;
}

.inner-container {
    display: inline-grid;


    background-color: #96ebfefe;
    border-radius: 20px;
    padding: 25px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    background-color: #c8d8dcfe;
    border-radius: 20px;
    padding: 25px;
}

.login-container {
    display: flex;

    width: 900px;
    height: 500px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(236, 105, 5);
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px 20px;
    border-radius: 20px;
    padding: 25px;
    background-color: rgb(225, 175, 136);
    text-align: center;
}


ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    column-gap: 20px;

}